name = "TestCompiler"
uuid = "a627c61c-6c20-4001-b596-bf51b2370e84"
authors = ["WooKyoung Noh <wookay.noh@gmail.com>"]
version = "0.1.0"

[deps]
REPL = "3fa0cd96-eef1-5676-8a61-b3b8758bbffb"
Compiler = "807dbc54-b67e-4c79-8afb-eafe4df6f2e1"
LogicalOperators = "6ac76662-4673-4d6a-8390-a82adc3670cf"

[sources]
LogicalOperators = {url = "https://github.com/wookay/LogicalOperators.jl", rev = "main"}
FemtoCompiler = {url = "https://github.com/wookay/FemtoCompiler.jl", rev = "main"}
DumpTruck = {url = "https://github.com/wookay/DumpTruck.jl", rev = "main"}
Doors = {url = "https://github.com/wookay/Doors.jl", rev = "main"}

[extensions]
TestCompilerExt = ["Compiler"]

[compat]
julia = "1.11"
Compiler = "0.1"
LogicalOperators = "0.1"
Jive = "0.3"
FemtoCompiler = "0.1"
DumpTruck = "0.1"
Doors = "0.1"
JuliaInterpreter = "0.10"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
UUIDs = "cf7118a7-6976-5b1a-9a39-7adc72f591a4"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
Profile = "9abbd945-dff8-562f-b5e8-e1ebf5ef1b79"
Jive = "ba5e3d4b-8524-549f-bc71-e76ad9e9deed"
FemtoCompiler = "92d42091-2d14-46a9-a897-febf9702e17e"
DumpTruck = "1c7707eb-034e-4b2b-a9eb-f5ae3e79caea"
Doors = "562d782d-cdb6-40a5-8f18-d6f69b5e6b90"
JuliaInterpreter = "aa1ae85d-cabe-5617-a682-6adf51b2e16a"

[targets]
test = ["Test", "UUIDs", "Pkg", "Markdown", "InteractiveUtils", "Profile",
        "Jive", "FemtoCompiler", "DumpTruck", "Doors", "JuliaInterpreter"]
